body {
  background-color: bisque;
}

header {
  background-color: aqua;
  padding: 10px;
  border-bottom: 5px solid black;
  font-size: 30;
}

.links {
  float: right;
}

a {
  color: black;
  text-decoration: none;
}

#activeLink {
  color: red;
  text-decoration: line-through;
}

#myName {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

#hiskooloo {
  width: 400px;
  padding: 5px;
  border: 5px dotted dodgerblue;
  margin: 10px;
  float: left;
}

.infoSec {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

#whoiam {
  font-size: 30;
  font-family: cursive;
  font-weight: bold;
}

#motto {
  padding: 10px;
}

img {
  width: 250;
}

.aboutSec {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  border: 5px solid black;
}

td {
  padding: 0px 10px 50px 10px;
}

.nextRow {
  border-top: 5px solid burlywood;
}

th {
  padding-top: 10px;
  padding-bottom: 5px;
}

.aboutTitle {
  text-decoration: underline;
}

#smolIntro {
  text-align: center;
}

p {
  font-size: 25px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.portfolioSec {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  border: 5px solid black;
}

.logo {
  width: 50;
}

footer {
  text-align: center;
  padding: 5px;
  background-color: aqua;
}