body {
  background-color: bisque;
}

#backgroundHome {
  background-image: url(./Images/taeyang1.jpg);
  background-size: 100%;
  background-attachment: fixed;
}

#backgroundAbout {
  background-image: url(./Images/taeyang2.jpg);
  background-size: 100%;
  background-attachment: fixed;
}

#backgroundPortfolio {
  background-image: url(./Images/taeyang3.jpg);
  background-size: 100%;
  background-attachment: fixed;
}

.flexbox {
  display: flex;
}

#navbar {
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: aqua;
  padding: 10px;
  border-bottom: 5px solid black;
  font-size: 30;
}

.links {
  color: black;
  text-decoration: none;
  opacity: 50%;
  margin: 0px 5px;
}

.links:hover {
  opacity: 100%;
}

#activeLink {
  color: red;
  text-decoration: line-through;
  opacity: 100%;
}

#myName {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  padding-left: 30px;
}

#hiskooloo {
  width: 300px;
  padding: 5px;
  border: 5px dotted dodgerblue;
  margin: 10px;
}

.infoSec {
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: end;
  text-align: center;
}

.infoSec div {
  width: 50%;
}

#whoiam {
  font-size: 30;
  font-family: cursive;
  font-weight: bold;
}

div > img {
  width: 250px;
  margin: 0px 50px 10px;
}

.aboutSec {
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.aboutSec > div {
  width: 70%;
  border-bottom: 5px solid aliceblue;
}

.aboutSec > div > div {
  width: 100%;
  align-items: center;
}

.aboutTitle {
  text-decoration: underline;
}

#smolIntro {
  text-align: center;
}

.altRow {
  background-color: rgb(0, 255, 255, 0.3);
}

p {
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.portfolioSec {
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.portfolioSec > div {
  background-color: rgb(255, 252, 247);
  width: 55%;
  border-bottom: 5px solid aliceblue;
  margin-left: 20px;
}

.portfolioSec > div > div {
  width: 100%;
  align-items: center;
}

.logo {
  width: 20;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
  background-color: aqua;
  border-top: 3px solid;
}
